@charset "utf-8";

body {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 14px;
  line-height: 0.8;
  background-color: #c46565;
  color: #d04646;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.containerall {
  width: 100vw;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  text-align: inherit;
}

.half {
  flex: 1;
  margin-left: 30px;
  margin-right: 30px;
  transition: transform 0.5s;
}

#contact {
  padding-left: 50px;
  padding-bottom: 130px;
}

.strip {
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 2rem;
}

#section1 {
  background-image: url(../media/images/palace.jpeg);
  align-items: flex-end;
  display: inline-flex;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
}

#section2 {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-image: url(../media/images/rock.jpeg);
  background-size: cover;
}

#section3 {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: inline-block;
  background-image: url(../media/images/boat.avif);
}

#section4 {
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: overlay;
  display: flex;
  background-image: url(../media/images/11reasonsthailand.jpg);
}

#section5 {
  padding-top: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: inline-block;
  background-image: url(../media/images/Lao-Lading-island-in-Krabi-Thailand.jpeg);
  background-size: cover;
  padding-bottom: 100px;
}

#section6 {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: inline-block;
  background-image: url(../media/images/Thailand-Tourism.jpeg);
  background-size: cover;
  padding-bottom: 10px;
}

#section7 {
  background-color: #640b2d;
  display: flex;
}

#section8 {
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  display: inline-block;
  background-image: url(../media/images/Thailand-2107x1406-2.jpeg);
  background-size: cover;
  padding-bottom: 100px;
}

.strip h1 {
  font-size: 180px;
  position: relative;
  color: white;
  line-height: 0.1;
  padding-top: 50px;
}
.strip h2 {
  font-size: 60px;
  text-align: left;
  padding-left: 0px;
  color: rgb(129, 7, 7);
}

.strip h3 {
  font-size: 60px;
  text-align: left;
  padding-left: 40px;
  color: white;
}

.grid-item {
  background-color: #8c4156;
  margin-bottom: 50px;

  text-align: center;
  width: 350px;
  height: 500px;
  color: #ffffff;
}
.grid-container {
  width: 100%;
  justify-content: center;
  align-content: center;
}
#gridsection5 {
  place-items: stretch center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  align-self: center;
  width: 100%;
}
#gridsection6 {
  place-items: stretch center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  align-self: center;
  width: 100%;
}
#gridsection3 {
  place-items: stretch center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  align-self: center;
}

#gridsection4 {
  place-items: stretch center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  width: 100%;
}
#grid-profile {
  place-items: stretch center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 100%;
  justify-content: center;
  align: block;
}

#grid1 {
  background-color: black;
  background-image: url(../media/images/nature.jpeg);
  background-size: cover;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

#grid2 {
  background-color: black;
  background-image: url(../media/images/48-hours-in-Bangkok1.jpeg);
  background-size: cover;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

#grid3 {
  background-color: black;
  background-image: url(../media/images/food.jpeg);
  background-size: cover;
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

#grid6 {
  width: 100%;
  background-color: black;
  background-image: url("media/lake-superior-4018775_1280.jpg");
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

#grid7 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/palace.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

#grid8 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/11reasonsthailand.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}
#grid9 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/thai.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

#grid10 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/thailand-in-february-1652604235-785X440.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}
#grid11 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/palace2.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}
#grid12 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/rock.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}
#grid13 {
  width: 100%;
  background-color: black;
  background-image: url(../media/images/Thailand-Tourism.jpeg);
  background-size: cover;
  position: relative;
  margin-bottom: 0px;
}

.grid5 {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: black;
  margin-bottom: 20px;
  position: relative;
  margin: 30px;
}

#profile {
  background-image: url(../media/images/iconneeded.jpg);
  background-size: 300px;
  width: 300px;
  height: 300px;
  background-color: rgb(231, 69, 69);
}
.grid5 h2 {
  padding: 0px;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  line-height: 0.5;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    "DejaVu Sans", Verdana, sans-serif;
  color: rgb(248, 53, 56);
  width: auto;
}

.grid5 h3 {
  font-size: 18px;
  text-align: left;
  font-style: italic;
}

.grid-item-text {
  line-height: 2.5;
  height: 25%;
  width: 100%;
  padding-top: 108%;
  background-image: -webkit-linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(url);
  background-image: -moz-linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(url);
  background-image: -o-linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(url);
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(0, 0, 0, 0) 60%
    ),
    url(url);
  background-blend-mode: multiply;
  transition: transform 0.5s;
}

.article {
  text-align: left;
  margin: auto;
  padding: 20px;
  color: white;
  line-height: 1.1;
  font-weight: 100;
}

#contactus {
  padding-top: 80px;
}

.article h1 {
  font-size: 28px;

  margin-bottom: 10px;
}

.article h2 {
  font-size: 24px;
  margin-left: -20px;
  margin-top: 20px;
}

.article p {
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  text-indent: 50px;
}

.article ul,
.article ol {
  margin: 15px 0 15px 20px;
}

.article li {
  font-size: 16px;
  line-height: 1.5;
  color: #ffb2b2;
}

.article:last-child {
  margin-bottom: 20px;
}

#contactbtn {
  background-color: rgb(255, 0, 0);

  width: 150px;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 30px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 10px;
  float: left;
}

.btnarrow {
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 2%;
  background-image: url(../media/images/25610.png);
  color: white;
  cursor: pointer;
  text-align: center;
  transform: scaleY(-1);
}
.dwnbuttoncontainer {
  transform: scaleY(0);
  justify-content: center;
  width: 100%;
  transition: padding.5s;
  background-color: black;
  padding: 10px 0px 10px 0px;
}
.downbtnarrow {
  height: 50px;
  width: 50px;
  margin-left: 50%;
  background-image: url(../media/images/down-arrow-svgrepo-com.svg);
  color: white;
  cursor: pointer;
  float: bottom;
}
.hidden-text {
  background: black;
  display: none;
  align-content: center;
  height: 240%;
}

.hidden-text p {
  margin: auto;
  line-height: 1.5;
  font-size: 14px;
  padding-bottom: 100px;
  padding-top: 50px;
  height: 240%;
}

textarea {
  background-color: transparent;
  border: 2px solid white;
  width: 500px;
  height: 30px;
  padding: 10px;
  margin: 10px;
  color: gray;
  font-size: 16px;
  line-height: 1.5;
  align-content: center;
  display: block;
}

#message {
  height: 90px;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.carousel-slides {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: auto;
  display: none;
}

.carousel-control {
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  z-index: 1;
}

#prevBtn {
  float: left;
  position: absolute;
}

#nextBtn {
  position: absolute;
  right: 0;
}
